
<app-navbar></app-navbar>
<div class="imagenconapea">
    <img src="https://yt3.googleusercontent.com/Do2nEZau2bfh88YYroxSMBZuSLy5_JmLarMnAweA4k3e2mAhKJlZaf5b6xMdj7VN9x2XEpx1aw=s900-c-k-c0x00ffffff-no-rj" alt="Imagen Conapea">
</div>
<div style="margin: 5px 20px;">
    <p>La Comisión Nacional Permanente de Estudiantes de Agrimensura (CoNaPEA) lleva más de 30 años trabajando por los Estudiantes de Agrimensura de nuestro país. En el año 1985 un grupo de estudiantes sintieron la necesidad de crear la CoNaPEA, es por ello que, en el marco del 1° Encuentro Nacional de Estudiantes de Agrimensura realizado en la Ciudad de Tucumán el 18, 19 y 20 de octubre, los Estudiantes de Agrimensura de las universidades del país de común acuerdo declaran constituida la CoNaPEA, quien es el órgano institucional que albergara a todos los Estudiantes de Agrimensura reuniéndose por voluntad propia con el objetivo de bregar por la jerarquización de la carrera, promover políticas, planes, programas y proyectos de integración entre las universidades que conforman esta comisión.</p>
    <p>La 1° (Primera) Comisión Nacional Permanente de Estudiantes de Agrimensura quedo conformada por los siguientes miembros:</p>
    <p>Osvaldo Estévez - Presidente -Universidad Nacional de San Juan</p>
</div>
